<div class="game-container" @fade>
    <div class="left-panel">
        <h2 class="mb-5">Players</h2>
        <div *ngFor="let player of lobby.players" class="player">
            <img [src]="player.avatar" alt="avatar" class="player-avatar avatar">
            <p class="player-name">{{ player.name }}</p>
        </div>
    </div>
    <div class="canvas-wrapper" id="canvas-wrapper">
        <!-- <div class="upper-panel">
            <div class="buttons-container">
                <button>LEAVE</button>
                <button>CLEAR</button>
                <button>COLOR</button>
                <button>SIZE</button>
            </div>
        </div> -->
        <!-- <div class="canvas-container"> -->
            <canvas #canvas class="canvas" id="canvas" height="714" width="820"></canvas>
        <!-- </div> -->
        <!-- <div class="lower-panel">
            <div class="buttons-container">
                <button (click)="onLeaveLobbyClick()">Leave lobby</button>
            </div>
        </div> -->
    </div>
    <div class="right-panel">
        <app-chat></app-chat>
    </div>
</div> 