:host {
    height: 100%;
    max-height: 714px;
}

.main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    max-width: 100vw;
    width: 1400px;
    border-radius: 5px;
}

.canvas-wrapper {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100% - 600px);
    height: 100%;
}

.canvas-container {
    width: auto;
    height: auto;
    //background: url('https://i.stack.imgur.com/EkOSl.jpg') repeat;
    //opacity: 0.2;
}

.canvas {
    background-color: transparent;
    background-color: #fff;
    border-radius: 5px;
}

.left-panel, .right-panel {
    min-width: 275px;
    max-width: 275px;
    height: 100%;
    background-color: #fff;
    border-radius: 5px;
}

.left-panel {
    padding: 25px;
    margin-right: 15px;
}

.right-panel {
    padding: 25px;
    margin-left: 15px;
}

.upper-panel, .lower-panel {
    flex-grow: 1;
    width: 100%;
    background-color: #fff;

    .buttons-container {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.player {
    display: flex;
    align-items: center;

    .player-avatar {
        margin-right: 10px;
    }

    margin-bottom: 10px;
}