:host {
    height: 100%;
    width: 100%;
}

.chat-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 5px;

    .message-input {
        margin: 25px 0 0 0;
    }

    .chat-message {
        padding: 5px;
        width: 100%;
        display: flex;
        margin-bottom: 10px;
        border-radius: 5px;
        background-color: #fff;
        overflow: hidden;
        word-break: break-all;

        p.chat-message-content {
            font-weight: 400;
        }

        .player-avatar {
            margin-right: 15px;
        }
    }

    .current-player-chat-message {
        background-color: #fff !important;

        .chat-message-sender {
           color: #00a1ffcf;
        }
    }

    .chat-message-sender {
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 5px;
    }
}

.chat-messages {
    max-height: 100%;
    overflow: auto;
}