
.lobby {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    background-color: #eee;
    border-radius: 5px;
    margin-bottom: 25px;

    &:hover {
        cursor: pointer;
    }

    &:not(.lobby-game-in-progress):hover {
        background-color: #006eff;

        p {
            color: #fff;
        }
    }

    &.lobby-game-in-progress {
        p {
            color: #888;
        }
    }
}