.p-notification {
    font-weight: 400;
    margin-bottom: 10px;
}

.player {
    display: flex;
    align-items: center;

    .player-avatar {
        margin-right: 10px;
    }

    margin-bottom: 10px;
}